<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
        <li class="header">HEADER</li>
        <li><a href="#"><i class="fa fa-link"></i><span>Home</span></a></li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-group"></i> <span>Gebruikers</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a asp-area="Admin" asp-controller="Users" asp-action="Index">Gebruikers</a></li>
                <li><a asp-area="Admin" asp-controller="Users" asp-action="Register">Nieuwe gebruiker</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-link"></i> <span>Groepen</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a asp-area="Admin"asp-controller="Groups" asp-action="Index">Groepen</a></li>
                <li><a asp-area="Admin"asp-controller="Groups" asp-action="Create">>Cre&euml;er nieuwe groep</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-link"></i> <span>Gesprekstypes</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a asp-area="Admin" asp-controller="ConversationType" asp-action="Index">Gesprekstypes</a></li>
                <li><a asp-area="Admin" asp-controller="ConversationType" asp-action="Create">>Cre&euml;er nieuw gesprekstype</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-link"></i> <span>Gespreksdatums</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a asp-area="Admin" asp-controller="ConversationPlanDates" asp-action="Index">Gespreksdatums</a></li>
                <li><a asp-area="Admin" asp-controller="ConversationPlanDates" asp-action="Create">>Cre&euml;er nieuw gespreksplanning</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="fa fa-link"></i><span>Another Link</span></a></li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-link"></i> <span>Multilevel</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#">Link in level 2</a></li>
                <li><a href="#">Link in level 2</a></li>
            </ul>
        </li>
    </ul>
    <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->