@model GesprekPlanner_WebApi.Areas.Teacher.Models.ConversationViewModels.CreateConversationViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Teacher/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Conversation</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PlanOnDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PlanOnDate" asp-items="@Model.PlannableDates" class="selectpicker" multiple ></select>
                <span asp-validation-for="PlanOnDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ConversationType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ConversationType" asp-items="@Model.ConversationTypes" class="selectpicker"></select>
                <span asp-validation-for="ConversationType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

