@model IEnumerable<Conversation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Teacher/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div id="calendar"></div>


@section Scripts {
    <script src="~/js/calendar.js"></script>
    <link rel='stylesheet' href='~/lib/fullcalendar/dist/fullcalendar.css'/>
    <script src='~/lib/moment/moment.js'></script>
    <script src='~/lib/moment/locale/nl.js'></script>
    <script src='~/lib/fullcalendar/dist/fullcalendar.js'></script>
    <script>
        moment.updateLocale("nl");

        $(document).ready(function() {
            // page is now ready, initialize the calendar...

            $("#calendar").fullCalendar({
                weekends: false,
                events: [
                    
                ]
                dayClick: function(date) {
                    console.log(date.format());
                    if (confirm("Wil je op " + date.locale("nl").format("LL") + " gesprekken plannen?")) {
                        
                    }
                }
            });
        });
    </script>
}