@model GesprekPlanner_WebApi.Areas.Schooladmin.Models.ConversationTypeViewModels.CreateConversationTypeViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Schooladmin/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.css" />
}

<h2>Cre&euml;er</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Gesprekstype</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Duration" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SelectedGroups" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <select asp-for="SelectedGroups" class="form-control selectpicker" data-title="Niks geselecteerd" multiple asp-items="@Model.Groups"></select>
                <span asp-validation-for="SelectedGroups" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cre&euml;er" class="btn btn-default" />
                <button class="btn btn-default" id="ClearSelectedGroups">Deselecteer groepen</button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Terug naar de lijst</a>
</div>

@section Scripts{
    <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script type="text/javascript">
        $("#ClearSelectedGroups").on("click", function (e) {
            e.preventDefault();
            $('#SelectedGroups').selectpicker('deselectAll');
            $('#SelectedGroups').selectpicker('refresh');
        });
        
    </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

}