<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
        <li class="header">HEADER</li>
        <li><a href="#"><i class="fa fa-link"></i><span>Home</span></a></li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-group"></i> <span>Gesprekken</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a asp-area="Teacher" asp-controller="Conversations" asp-action="Index">Zie gesprekken</a></li>
                <li><a asp-area="Teacher" asp-controller="Conversations" asp-action="Create">Plan gesprek</a></li>
            </ul>
        </li>
        
    </ul>
    <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->