@model GesprekPlanner_WebApi.Models.ConversationType

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Cre&euml;er</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Gesprekstype</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ConversationName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ConversationName" class="form-control" />
                <span asp-validation-for="ConversationName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ConversationDuration" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ConversationDuration" class="form-control" />
                <span asp-validation-for="ConversationDuration" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cre&euml;er" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Terug naar de lijst</a>
</div>

