@model GesprekPlanner_WebApi.Areas.Admin.Models.ConversationTypeViewModels.EditConversationTypeViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Aanpassen</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Gesprekstype</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Duration" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SelectedGroups" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <select asp-for="SelectedGroups" class="form-control selectpicker" multiple asp-items="@Model.Groups"></select>
                <span asp-validation-for="SelectedGroups" class="text-danger"></span>
            </div>
        </div>
        @if (User.IsInRole("Eigenaar"))
        {
            <div class="form-group">
                <label asp-for="School" class="col-md-2 control-label"></label>
                <div class="col-md-5">
                    <select asp-for="School" class="form-control selectpicker" asp-items="@Model.Schools"></select>
                    <span asp-validation-for="School" class="text-danger"></span>
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opslaan" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Terug naar de lijst</a>
</div>

