@using Newtonsoft.Json
@model GesprekPlanner_WebApi.Areas.Admin.Models.UsersViewModels.RegisterNewUserViewModel

@{
    ViewBag.Title = "Nieuwe gebruiker";
    Layout = "_Layout";
}
@section Styles{
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.css" />
}
<form asp-controller="Users" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>Registreer een nieuwe gebruiker</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-5 end">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Username" class="col-md-2 control-label"></label>
        <div class="col-md-5 end">
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
    </div>
    @if (User.IsInRole("Eigenaar"))
    {
        <div class="form-group">
            <label asp-for="SchoolName" class="col-md-2 control-label"></label>
            <div class="col-md-5 end">
                <select asp-for="SchoolName" asp-items="@Model.Schools" class="selectpicker" title="Kies een school"></select>
                <span asp-validation-for="SchoolName" class="text-danger"></span>
            </div>
        </div>
    }
    <div class="form-group">
        <label asp-for="Group" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Group" class="form-control" placeholder="Selecteer eerst een school" disabled/>
            <span asp-validation-for="Group" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="RoleName" class="col-md-2 control-label"></label>
        <div class="col-md-5 end">
            <select asp-for="RoleName" asp-items="@Model.Roles" class="selectpicker" title="Kies een functie"></select>
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-5 end">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-5 end">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>
@section Scripts {
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script>
    var availableTags;
        $("#Group").autocomplete({
            source: availableTags,
            
        });

        $("#SchoolName").on("change",
            function() {

                $.ajax({
                    url: '@Url.Action("GetGroupsForSchool")',
                    data: JSON.stringify({ school: $(this).val() }),
                    contentType: 'application/json',
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        availableTags = data;
                        $("#Group").val = "";
                        $("#Group").prop("disabled", false);
                        $("#Group").attr("placeholder", "Selecteer een group");
                        $("#Group").autocomplete({
                            source: availableTags
                        });
                    }
                });
            });
    </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}